

.b2WalletModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 508px;
  min-height: 200px;
  border-radius: 10px;
  color: black;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    background: #FFF8EE;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .content {
    padding: 24px;
    .title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 12px;
    }
    .walletItem {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;
      padding: 12px 24px;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 4px;
      .walletLogo {
        width: 32px;
        height: 32px;
      }
      .arrow {
        position: absolute;
        right: 20px;
      }
    }
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
